
.login {
    display: flex;
    flex-direction: row;
}

.login-container {
	display: flex;
	flex-direction: column;
}

.sign-in {
    cursor: pointer;
	padding: 0px;
	border: none;
	background-color: var(--bg);
}

.OR {
	margin: 2rem 0px;
	text-align: center;
}

.spanned {
	display: flex;
	flex-direction: row;
}
